{{#DSM}}
server {
    listen {{port}} default_server;
    listen [::]:{{port}} default_server;

    server_name _;

    gzip on;

    include conf.d/alias.*.conf;
    {{> /usr/syno/share/nginx/DSM_Main}}
    {{> /usr/syno/share/nginx/optimization}}
}
{{#DSM.fqdn}}

server {
    listen {{port}};
    listen [::]:{{port}};

    server_name {{DSM.server_name}};

    location / {
        return 404;
    }

    {{> /usr/syno/share/nginx/error_page}}
}
{{/DSM.fqdn}}
{{#ssl}}

server {
    listen {{port}} default_server ssl;
    listen [::]:{{port}} default_server ssl;

    server_name _;

    include conf.d/ssl.*.conf;

    include conf.d/alias.*.conf;
    {{> /usr/syno/share/nginx/DSM_Main}}
    {{> /usr/syno/share/nginx/optimization}}
}
{{#DSM.fqdn}}


server {
    listen {{port}} ssl;
    listen [::]:{{port}} ssl;

    server_name {{DSM.server_name}};

    location / {
        return 404;
    }

    {{> /usr/syno/share/nginx/error_page}}
}
{{/DSM.fqdn}}

{{#DSM.synorelay}}
server {
    listen {{http_port}};
    listen [::]:{{http_port}};

    server_name {{ddns}};
    set $fqdn $server_name;

    gzip on;

    include conf.d/alias.*.conf;
    {{> /usr/syno/share/nginx/DSM_Main}}
    {{> /usr/syno/share/nginx/optimization}}
}

server {
    listen {{https_port}} ssl;
    listen [::]:{{https_port}} ssl;

    server_name {{ddns}};
    set $fqdn $server_name;

    {{> /usr/syno/share/nginx/LetsEncrypt}}

    {{#https}}
    {{> /usr/syno/share/nginx/https.mustache}}
    {{/https}}

    include conf.d/ssl.*.conf;

    include conf.d/alias.*.conf;
    {{> /usr/syno/share/nginx/DSM_Main}}
    {{> /usr/syno/share/nginx/optimization}}
}
{{/DSM.synorelay}}

{{/ssl}}
{{/DSM}}
